/*Responsive fix for graber_cart classic */
#graber-cart-wrapper {
  overflow: auto;
}

#graber-cart-wrapper .responsive .cart-item, #cart-block-summary .responsive .cart-item {
  border: 1px solid #666666;
}

#cart-block-summary .responsive .cart-item {
  width: 250px;
}

#cart-block-summary .responsive .cart-item ul {
  width: 200px;
}

#graber-cart-wrapper .responsive .cart-item > *, #cart-block-summary .responsive .cart-item > * {
	display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 1%;
}


#graber-cart-wrapper .responsive ul li, #cart-block-summary .responsive ul li {
  list-style: none;
}

.graber-checkout-form .cart-summary td.title, .graber-checkout-form .checkout-input-summary td.title {width: 50%;}
.graber-checkout-form .cart-summary .responsive .cart-item {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  #graber-cart-wrapper .responsive .cart-item, .graber-checkout-form .cart-summary .responsive .cart-item {
    text-align: center;
  }
}
.graber-checkout-form .cart-summary .responsive .cart-image, .graber-checkout-form .cart-summary .responsive .params {
  display: inline-block;
  vertical-align: middle;
}
.graber-checkout-form .cart-summary .responsive .cart-image { margin-bottom: 10px; }
.graber-checkout-form .cart-summary .responsive .params {
  list-style: none;
  margin-bottom: none;
}
.graber-checkout-form .checkout-input-summary .pane-title {
  font-weight: bold;
}
.graber-checkout-form .street-wrapper, .graber-checkout-form .city-wrapper {
	border: 0;
	top: auto;
	margin-top: 2px;
	margin-bottom: 1em;
	padding-bottom: 0;
}

.graber-checkout-form .street-wrapper > legend, .graber-checkout-form .city-wrapper > legend {
	background: transparent;
	border: 0;
	font-size: 0.929em;
	color: #000000;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.graber-checkout-form .street-wrapper .form-item, .graber-checkout-form .city-wrapper .form-item {
	display: inline;
	margin-bottom: 0;
}

.graber-checkout-form .street-wrapper .street-name {
	width: 240px;
}

.graber-checkout-form .street-wrapper .street-no, .graber-checkout-form .street-wrapper .street-flat {
	width: 45px;
}

.graber-checkout-form .street-wrapper .separator {
	padding: 0 2px;
}

.graber-checkout-form .city-wrapper .city-name {
	width: 250px;
}

.graber-checkout-form .city-wrapper .city-postal {
	width: 100px;
}

.graber-checkout-form .order-summary legend {
	font-size: 1.2em;
	color: #000000;
	font-weight: bold;
	margin-bottom: 10px;
}

fieldset.collapsible fieldset .fieldset-legend {
	background: none!important;
	padding: 0!important;
}

#graber-cart-block-content {
	position: relative;
}

#cart-block-summary {
	visibility:hidden;
	opacity:0;
	transition:visibility 0s linear 0.5s,opacity 0.5s linear;
	
	background-color: #258EFF;
	position: absolute;
	top: 10px;
	margin-top: 10px;
	z-index: 1000;
}

#cart-block-summary table {
	padding: 0;
	margin: 0;
}

#cart-block-summary table th, #cart-block-summary table td {
	padding: 0.3em;
}

#cart-block-summary table .total {
	font-weight: bold;
}

#cart-block-summary .checkout {
	padding-left: 1em;
}

#graber-cart-block-content:hover #cart-block-summary, #cart-block-summary:hover {
	visibility:visible;
	opacity:1;
	transition-delay:0s;
}

.order-status .current {
  font-weight: bold;
}
