#payu-payment-form .form-submit {
	background: no-repeat left top url(images/payu_account_button_01.png);
	margin-top: 5px;
	height: 35px;
	width: 160px;
	border: none;
	font-size: 0;
	color: transparent;
	cursor: pointer;
}

#graber-cart-checkout-form .form-item-payment-method .payu .option  {
	display: inline-block;
	background: no-repeat left top url(images/payu_logo_small.jpg);
	height: 20px;
	width: 66px;
	font-size: 0;
	color: transparent;
	vertical-align: middle;
}