#sizes-fieldset-wrapper fieldset .fieldset-wrapper fieldset {
	border: none;
	margin: 0;
	padding: 0;
	top: auto;
}
#sizes-fieldset-wrapper fieldset .fieldset-wrapper fieldset .fieldset-wrapper {
	margin: 0;
}
#sizes-fieldset-wrapper fieldset .fieldset-wrapper fieldset .fieldset-wrapper div, #stock-fieldset-wrapper .stock_input .fieldset-wrapper div {
	display: inline-block;
}

#sizes-fieldset-wrapper fieldset .fieldset-wrapper fieldset .fieldset-wrapper input.form-text, #stock-fieldset-wrapper .stock_input .fieldset-wrapper input.form-text {
	width: 50px;
}
#sizes-fieldset-wrapper fieldset .fieldset-wrapper fieldset .fieldset-wrapper input.sizes_name {
	width: 100px;
}
#sizes-fieldset-wrapper fieldset .fieldset-wrapper fieldset .fieldset-wrapper label {
	display: block;
}
#sizes-fieldset-wrapper input.stock {
	width: 50px;
}

.size-table tr.stock {
	background-color: #8C8C8C;
    font-weight: bold;
}