#warehouse-batches-fieldset-wrapper fieldset {
	border: none;
	padding: 0;
}

#warehouse-batches-fieldset-wrapper fieldset .fieldset-legend {
  position: relative;
  padding-left: 0;
}

#warehouse-batches-fieldset-wrapper td {
  padding: 0;
}

#warehouse-batches-fieldset-wrapper input.form-submit, a.button {
  margin: 0.25em;
}

#warehouse-batches-fieldset-wrapper .container-inline-date > .form-item {
  display: block;
}

#warehouse-batches-fieldset-wrapper .form-item {
  padding: 0 0.5em;
}

#warehouse-batches-fieldset-wrapper .form-text, #warehouse-batches-fieldset-wrapper .form-textarea {
  width: 100%;
}

#warehouse-batches-fieldset-wrapper table {
	width: 100%;
}

#warehouse-batches-fieldset-wrapper table td {
	padding: 0;
}

#warehouse-batches-fieldset-wrapper table td.product {
	width: 250px;
}

#warehouse-batches-fieldset-wrapper .fieldset-wrapper {
	padding: 0;
	margin: 0;
}

#warehouse-batches-fieldset-wrapper table .date-padding {
	padding: 0;
}